.t-blanco{color: #fff;}
.f-gris{background: #4C4C56;}
.f-celeste{background: #33EDEB;}
.f-gris-claro{background: #DDE3E6;}
.f-blanco{background: #fff;}
.centrado{text-align: center;}
.espacio{padding: 1em 0 3em;}
.enlinea{display: inline-block;}
